<div class="container">
  <div class="row justify-content-center">
    <div class="container__form col-md-8">
      <app-cars-form></app-cars-form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="container__cars-list col-md-8">
        <div class="list-group">
            <app-car
              [car]="c"
              *ngFor="let c of (carState | async).cars"
              class="list-group__car-item"
            ></app-car>
          </div>
    </div>
  </div>
</div>