.container {
    margin-top: 50px;
}

.container__inner {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 10px 15px 15px;
    max-height: 795px;
    overflow-y: auto;
}

.list-group__car-item + .list-group__car-item {
    margin-top: 20px;
}