.content {
    position: absolute;
    left: 0;
    top: 0;

    background: url("./assets/images/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}